<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
توأم‌بازی
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
در این بخش چند مسئله را با کمک پایتون حل می‌کنیم و دانش شما را بر توزیع‌های توام محک می‌زنیم. نخست کتاب‌خانه <code>pandas</code>و <code>numpy</code> را فرا می‌خوانیم تا در ادامه از آن‌ها استفاده کنیم.
</font>
</p>

In [34]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
بخش ۱: کتاب یا بازی ویدئویی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
در طی تحقیقاتی، داده‌ای از نمرات و علایق ۵۰۰ دانش‌آموز جمع‌آوری شده و در فایل <code>scores.csv</code> قرار گرفته است. در جدول زیر می‌توانید خلاصه‌ای از تعاریف جدول را مشاهده کنید.


</font>
</p>

<center>
<div dir=rtl style="line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    
| ستون | توضیح |
|:---:|:---:|
| `Status` | اگر این ستون برابر با مقدار `gamers` باشد، به این معنی است که علاقه‌ی این دانش‌آموز بازی ویدئویی بوده است و اگر این ستون برابر با مقدار `bookworms` باشد، به این معنی است که این دانش‌آموز به کتاب علاقه دارد. |
| `Math` | نمره‌ی درس ریاضی |
| `Physics` | نمره‌ی درس فیزیک |
| `Literature` | نمره‌ی درس ادبیات |


    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
اطلاعات مربوط به عملکرد دانش‌آموزان که در فایل <code>scores.csv</code> در اختیار شما گرفته است را  با استفاده از ‍<code>Pandas</code> بارگذاری کنید و آن را در <code>df</code> ذخیره کنید.
</font>
</p>

In [35]:
# TODO: read the dataset
df = pd.read_csv('scores.csv')
df.head()

      Status  Math  Physics  Literature
0  bookworms    85       73          39
1     gamers    58       55          47
2  bookworms    59       50          71
3  bookworms    39       52          93
4     gamers    51       77          73

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
میانگین نمرات هر شخص را محاسبه کنید و در ستونی به اسم<code>avg</code> قرار دهید.
</font>
</p>

In [36]:
# TODO: calculate average score for each student

df["avg"] = df[['Math', 'Physics', 'Literature']].mean(axis=1)
df.head()

      Status  Math  Physics  Literature        avg
0  bookworms    85       73          39  65.666667
1     gamers    58       55          47  53.333333
2  bookworms    59       50          71  60.000000
3  bookworms    39       52          93  61.333333
4     gamers    51       77          73  67.000000

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
حال قصد داریم معدل دانش‌آموزان را به مقیاس حروفی تبدیل کنیم. طبق جدول زیر، تابع <code>score_changer()</code>  را به نحوی بنویسید که در ورودی معدل را دریافت کند و خروجی حرف متناظر با آن معدل را برگرداند.
</font>
</p>

<center>
<div dir=rtl style="line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    
| نمره       | مقیاس حرفی |
|:-----------:|:------------:|
| 70 و بالاتر | A          |
| از 50 تا 69 (شامل خود 50 و 69) | B          |
| کمتر از 50  | C          |



    
</font>
</div>
</center>

In [37]:
# TODO: complete the funciton to change the scores according to the table above
def score_changer(score):
    if score >= 70:
        return 'A'
    elif score >= 50:
        return 'B'
    else: return 'C'

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
اگر تابع را به درستی نوشتید، این سلول را اجرا کنید تا نمرات به صورت مقیاس حروفی در ستونی با نام <code>FinalScore</code>  ذخیره شوند.
</font>
</p>

In [38]:
# change the scores
df['FinalScore'] = df['avg'].apply(lambda x : score_changer(x))
df.head()

      Status  Math  Physics  Literature        avg FinalScore
0  bookworms    85       73          39  65.666667          B
1     gamers    58       55          47  53.333333          B
2  bookworms    59       50          71  60.000000          B
3  bookworms    39       52          93  61.333333          B
4     gamers    51       77          73  67.000000          B

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
سپس کد زیر را اجرا کنید تا جدول توزیع توأم دو کمیت نمره و علایق دانش‌آموزان در متغیری با نام <code>joint_df</code> ذخیره شود.
</font>
</p>

In [39]:
# calculate the joint probability
joint_df = df.groupby(['Status','FinalScore']).size().unstack()/len(df)
joint_df

FinalScore      A      B      C
Status
bookworms   0.154  0.330  0.060
gamers      0.146  0.266  0.044

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
نخست توزیع حاشیه‌ای کمیت نمره‌ی نهایی <code>FinalScore</code> را محاسبه کنید و در متغیر <code>score_marginal_distribution</code> ذخیره کنید. برای انجام این کار می‌توانید از متد <code>sum()</code> استفاده کنید و در آن با کمک آرگومان <code>axis</code> محور اعمال تابع را مشخص کنید.
<br>
برای مثال <code>joint_df.sum(axis=1)</code> جمع را در راستای هر ردیف انجام می‌دهد و برای انجام عملیات جمع در راستای هر ستون می‌توانید از <code>axis=0</code> استفاده کنید.
</font>
</p>

In [40]:
# TODO: calculate the marginal probability of final scores
score_marginal_distribution = joint_df.sum(axis=0)

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
حال توزیع حاشیه‌ای علایق دانش‌آموزان <code>Status</code> را محاسبه کنید و در متغیر <code>status_marginal_distribution</code> ذخیره کنید
</font>
</p>

In [41]:
# TODO: calculate the marginal probability of students' status
status_marginal_distribution = joint_df.sum(axis=1)

In [42]:
score_marginal_distribution

FinalScore
A    0.300
B    0.596
C    0.104
dtype: float64

In [43]:
status_marginal_distribution

Status
bookworms    0.544
gamers       0.456
dtype: float64

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
حال احتمال شرطی‌ این که دانش‌آموزی نمره‌ی <code>A</code> کسب کرده باشد اگر که علاقه‌اش بازی‌های ویدئویی باشد را محاسبه کنید. همچنین احتمال شرطی‌ این که دانش‌آموزی نمره‌ی <code>A</code> کسب کرده باشد اگر که علاقه‌اش کتاب باشد را نیز محاسبه کنید. 
<br>
سپس می‌خواهیم بدانیم در افرادی که نمره‌ی <code>A</code> کسب کرده‌اند، کتاب‌دوستان چه <b>درصدی</b> از گیمرها بیشتر یا کمتر هستند، بنابراین احتمال شرطی اول(کتاب‌دوستان) را بر احتمال شرطی دوم(گیمرها) تقسیم می‌کنیم و سپس از ۱ کم می‌کنیم.
<br>
پاسخ را به صورت درصد تا ۲ رقم اعشار رند کرده و در متغیر <code>nerds_to_gamers</code> ذخیره کنید.
</font>
</p>

In [44]:
# TODO: Compute the conditional probability of a student's status (bookworm or gamer) given that they received an A.  
# Then, calculate the percentage increase in the likelihood of a bookworm getting an A compared to a gamer.

p_A_given_bookworm = joint_df.loc['bookworms']['A'] / status_marginal_distribution.loc['bookworms']
p_A_given_gamer = joint_df.loc['gamers']['A'] / status_marginal_distribution.loc['gamers']

nerds_to_gamers = round((p_A_given_bookworm / p_A_given_gamer )*100 - 100,2)
nerds_to_gamers

np.float64(-11.58)

<h2 style="direction: rtl;text-align: right;font-family:vazirmatn;color:#0099cc">بخش ۲: </h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium"> <font face="vazirmatn" size=3> تصور کنید شما در حال طراحی یک ماشین اسلات (Slot Machine) هستید که سه نماد مختلف دارد: یک نماد میوه (Fruit)، یک نماد شماره (Number)، و یک نماد ستاره (Star). هر بار که بازیکن دستگیره را می‌کشد، یکی از این سه نماد به طور تصادفی ظاهر می‌شود.
 </font> </p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium"> 
<font face="vazirmatn" size=3>
 احتمالات وقوع این نمادها به ترتیب زیر است: 
<ul> <li>احتمال وقوع میوه (Fruit): ۰.۴</li> 
<li>احتمال وقوع شماره (Number): ۰.۳۵</li> 
<li>احتمال وقوع ستاره (Star): ۰.۲۵</li> </ul> 
</font> </p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium"> <font face="vazirmatn" size=3>
شما باید با استفاده از فرمول توزیع چندجمله‌ای، احتمال وقوع ترکیب زیر از نمادها را محاسبه کنید: 
<ul> <li>۴۰۰ بار میوه</li> 
<li>۳۸۰ بار شماره</li>
 <li>۲۲۰ بار ستاره</li> </ul> 
 </font> </p>
<br>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium"> <font face="vazirmatn" size=3>
برای محاسبه این احتمال، از فرمول توزیع چندجمله‌ای استفاده می‌کنیم که به صورت زیر است:
</font> </p>

$$P(k_1, k_2, k_3) = \frac{(n!)}{(k_1!k_2!k_3!)} \cdot p_1^{k_1} \cdot p_2^{k_2} \cdot p_3^{k_3}$$

<p dir="rtl" style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size=3>
  که در آن: <ul> <li><code>n</code> تعداد کل آزمایش‌ها (در اینجا 1000 بار کشیدن دستگیره)</li> <li><code>k_1, k_2, k_3</code> تعداد وقوع هر نماد (میوه، شماره، ستاره)</li> <li><code>p_1, p_2, p_3</code> احتمالات وقوع هر نماد</li> </ul> 
  </font> </p>


   <p dir="rtl" style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
  <font face="vazirmatn" size=3>
  محاسبه این احتمال را انجام دهید و نتیجه را به دست آورید. نتیجه‌ی به دست آمده را تا <code>6</code> رقم اعشار رند کرده و در متغیر <code>prob</code> ذخیره کنید.
    </font> </p>

In [45]:
# TODO: calculate the probability of Specific outcome of 400 Fruit, 380 Number, and 220 Star when pulling the slot machine handle 1000 times
from scipy.stats import multinomial

# Define parameters for the multinomial distribution
n = 1000  # Number of trials (pulling the slot machine handle)
p = [0.4, 0.35, 0.25]  # Probabilities for Fruit, Number, and Star
x = [400, 380, 220]  # Specific outcome of 400 Fruit, 380 Number, and 220 Star

# Using the multinomial probability mass function to calculate the probability
prob = round(multinomial.pmf(x, n, p),6)
print(prob)

3.8e-05

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [46]:
import zipfile
import joblib

score_marginal_distribution.to_csv('score_marginal_distribution.csv',index=False)
status_marginal_distribution.to_csv('status_marginal_distribution.csv',index=False)
df['FinalScore'].to_csv('FinalScore.csv',index=False)
joblib.dump(nerds_to_gamers,"nerds_to_gamers")
joblib.dump(prob,"prob")



def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)


file_names = ["score_marginal_distribution.csv", "status_marginal_distribution.csv", "FinalScore.csv", "nerds_to_gamers", "prob", "init.ipynb"]
compress(file_names)

File Paths:
['score_marginal_distribution.csv', 'status_marginal_distribution.csv', 'FinalScore.csv', 'nerds_to_gamers', 'prob', 'init.ipynb']