<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    Ù…Ø£Ù…ÙˆØ±ÛŒØª Ø§ÙˆÙ„: Ú©Ø´Ù Ø§Ø³Ø±Ø§Ø± Ø´Ù‡Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
Ø´Ù‡Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ù¾Ø± Ø§Ø² Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ùˆ Ø§Ø³Ø±Ø§Ø± Ù¾Ù†Ù‡Ø§Ù† Ø§Ø³Øª. Ø´Ù…Ø§ Ù…Ø£Ù…ÙˆØ±ÛŒØª Ø¯Ø§Ø±ÛŒØ¯ Ú©Ù‡ Ø±Ø§Ø²Ù‡Ø§ÛŒ Ø§ÛŒÙ† Ø´Ù‡Ø± Ø±Ø§ Ú©Ø´Ù Ú©Ù†ÛŒØ¯. Ø¨Ø±Ø§ÛŒ Ø§ÛŒÙ† Ú©Ø§Ø±ØŒ Ø¨Ø§ÛŒØ¯ Ø±ÙˆÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ø¬Ù…Ø¹â€ŒØ¢ÙˆØ±ÛŒâ€ŒØ´Ø¯Ù‡ Ø§Ø² Ø³Ø§Ú©Ù†Ø§Ù† Ø´Ù‡Ø± Ú©Ø§Ø± Ú©Ù†ÛŒØ¯ Ùˆ Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ù¾Ù†Ù‡Ø§Ù† Ø±Ø§ Ø¨ÛŒØ§Ø¨ÛŒØ¯.
</font>
</p>

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       Ø§Ø¨ØªØ¯Ø§ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø² Ø®ÙˆØ¯ Ø±Ø§ ÙØ±Ø§ Ø¨Ø®ÙˆØ§Ù†ÛŒØ¯.
</font>
</p>

In [1]:
# import libraries
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc"> Ù…Ø±Ø­Ù„Ù‡ Ø§ÙˆÙ„: Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
Ø¯Ø± ÙØ§ÛŒÙ„ <code>students_performance.csv</code> Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø¯Ø§Ù†Ø´â€ŒØ¢Ù…ÙˆØ²Ø§Ù† Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ø´Ù…Ø§ Ú¯Ø±ÙØªÙ‡ Ø§Ø³Øª.  Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² â€<code>Pandas</code> Ø¢Ù† Ø±Ø§ Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ú©Ù†ÛŒØ¯ Ùˆ Ø³Ù¾Ø³ Ù†Ú¯Ø§Ù‡ÛŒ Ø¨Ù‡ Ø¢Ù† Ø¨ÛŒÙ†Ø¯Ø§Ø²ÛŒØ¯.
</font>
</p>

In [2]:
# TODO: read the dataset
df = pd.read_csv("students_performance.csv")
df.head()

  student name  reading score  math score  writing score
0      Melanie             58          49             25
1    Gabriella             45          72             88
2       Ashley             46          27             22
3        James             84           2             77
4      William             69          35             26

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc"> Ù…Ø±Ø­Ù„Ù‡ Ø¯ÙˆÙ…: ØªØ­Ù„ÛŒÙ„ Ø´Ø§Ø®Øµâ€ŒÙ‡Ø§ÛŒ Ù…Ø±Ú©Ø²ÛŒ
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       ğŸ“Œ Ú†Ø§Ù„Ø´: Ø´Ù‡Ø±Ø¯Ø§Ø± Ø´Ù‡Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ù…ÛŒâ€ŒØ®ÙˆØ§Ù‡Ø¯ Ø¨Ø¯Ø§Ù†Ø¯ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ†ØŒ Ù…ÛŒØ§Ù†Ù‡ Ùˆ Ù…Ø¯ Ù†Ù…Ø±Ø§Øª Ø¯Ø§Ù†Ø´â€ŒØ¢Ù…ÙˆØ²Ø§Ù† Ø¯Ø± Ø¯Ø±Ø³â€ŒÙ‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù Ú†Ù‚Ø¯Ø± Ø§Ø³Øª. Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø§ÛŒÙ† Ø´Ø§Ø®Øµâ€ŒÙ‡Ø§ÛŒ Ù…Ø±Ú©Ø²ÛŒ Ø±Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†ÛŒØ¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
      ğŸ” Ø¯Ø³ØªÙˆØ±Ø§Ù„Ø¹Ù…Ù„: Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† (mean)ØŒ Ù…ÛŒØ§Ù†Ù‡ (median) Ùˆ Ù…Ø¯ (mode) Ù†Ù…Ø±Ø§Øª Ø¯Ø±Ø³â€ŒÙ‡Ø§ÛŒ Ø±ÛŒØ§Ø¶ÛŒØŒ Ø®ÙˆØ§Ù†Ø¯Ù† Ùˆ Ù†ÙˆØ´ØªÙ† Ø±Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†ÛŒØ¯. Ù†ØªØ§ÛŒØ¬ Ø±Ø§ Ø¯Ø§Ø®Ù„ Ø³Ù‡ Ø¯ÛŒÚ©Ø´Ù†Ø±ÛŒ Ø°Ø®ÛŒØ±Ù‡ Ú©Ù†ÛŒØ¯.
      Ú©Ù„ÛŒØ¯ Ø¯ÛŒÚ©Ø´Ù†Ø±ÛŒâ€ŒÙ‡Ø§ Ø¨Ø§ÛŒØ¯ Ù…Ø·Ø§Ø¨Ù‚ Ø¨Ø§ Ù†Ø§Ù… Ø¯Ø±Ø³â€ŒÙ‡Ø§ Ú©Ù‡ Ø¯Ø± Ø¯Ø§Ø®Ù„ Ù„ÛŒØ³Øª <code>subjects</code> Ù‡Ø³ØªÙ†Ø¯ØŒ Ø¨Ø§Ø´Ø¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     Ù†Ú©Ø§Øª Ø¨Ø³ÛŒØ§Ø± Ù…Ù‡Ù…: Ù¾Ø³ Ø§Ø² Ù…Ø­Ø§Ø³Ø¨Ù‡ Ù…Ù‚Ø§Ø¯ÛŒØ±ØŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ ØªØ§ Ø¯Ùˆ Ø±Ù‚Ù… Ø§Ø¹Ø´Ø§Ø± Ú¯Ø±Ø¯ Ú©Ù†ÛŒØ¯. Ø¯Ø± ØµÙˆØ±ØªÛŒ Ú©Ù‡ Ø¨ÛŒØ´ Ø§Ø² ÛŒÚ© Ù…Ø¯ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø´ØªØŒ ÙÙ‚Ø· Ø§ÙˆÙ„ÛŒÙ† Ù…Ù‚Ø¯Ø§Ø± Ø±Ø§ Ø¯Ø± Ù†Ø¸Ø± Ø¨Ú¯ÛŒØ±ÛŒØ¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø±Ø§ÛŒ Ù…Ø«Ø§Ù„: (Ø§Ø¹Ø¯Ø§Ø¯ Ú©Ø§Ù…Ù„Ø§ ÙØ±Ø¶ÛŒ Ù‡Ø³ØªÙ†Ø¯)
</font>
</p>

<p dir=rtl style="direction: ltr;text-align: left;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     <code> {"math score": 70.35, "reading score": 86.02, "writing score": 53.90} </code>
</font>
</p>

In [3]:
# TODO: calculate mean, median, and mode for each subject

subjects = ["math score", "reading score", "writing score"]

mean_math = round(df["math score"].mean(), 2)
mean_reading = round(df["reading score"].mean(), 2)
mean_writing = round(df["writing score"].mean(), 2)

median_math = round(df["math score"].median(), 2)
median_reading = round(df["reading score"].median(), 2)
median_writing = round(df["writing score"].median(), 2)

mode_math = round(df["math score"].mode()[0], 2)
mode_reading = round(df["reading score"].mode()[0], 2)
mode_writing = round(df["writing score"].mode()[0], 2)

mean_val = {"math score" : mean_math, "reading score" : mean_reading, "writing score" : mean_writing}
median_val = {"math score" : median_math, "reading score" : median_reading, "writing score" : median_writing}
mode_val = {"math score" : mode_math, "reading score" : mode_reading, "writing score" : mode_writing}

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc"> Ù…Ø±Ø­Ù„Ù‡ Ø³ÙˆÙ…: Ø¨Ø±Ø±Ø³ÛŒ Ù¾Ø±Ø§Ú©Ù†Ø¯Ú¯ÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       ğŸ“Œ Ú†Ø§Ù„Ø´: Ø§Ø³ØªØ§Ø¯ Ø¢Ù…Ø§Ø± Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ø´Ù‡Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ù†Ú¯Ø±Ø§Ù† Ø§Ø³Øª Ú©Ù‡ Ø¨Ø±Ø®ÛŒ Ø¯Ø§Ù†Ø´â€ŒØ¢Ù…ÙˆØ²Ø§Ù† Ù†Ù…Ø±Ø§Øª Ø®ÛŒÙ„ÛŒ Ù¾Ø§ÛŒÛŒÙ† ÛŒØ§ Ø®ÛŒÙ„ÛŒ Ø¨Ø§Ù„Ø§ Ø¯Ø§Ø±Ù†Ø¯. Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø¨Ø§ Ø¨Ø±Ø±Ø³ÛŒ Ø´Ø§Ø®Øµâ€ŒÙ‡Ø§ÛŒ Ù¾Ø±Ø§Ú©Ù†Ø¯Ú¯ÛŒØŒ Ù…ÛŒØ²Ø§Ù† ØªØºÛŒÛŒØ±Ø§Øª Ù†Ù…Ø±Ø§Øª Ø±Ø§ Ø¨Ø³Ù†Ø¬ÛŒØ¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
      ğŸ” Ø¯Ø³ØªÙˆØ±Ø§Ù„Ø¹Ù…Ù„: ÙˆØ§Ø±ÛŒØ§Ù†Ø³ (variance) Ùˆ Ø§Ù†Ø­Ø±Ø§Ù Ù…Ø¹ÛŒØ§Ø± (standard deviation) Ø±Ø§ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø³Ù‡ Ø¯Ø±Ø³ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†ÛŒØ¯.  Ù…Ù‚Ø¯Ø§Ø± Ø¨Ø±Ø¯ (Range) Ø±Ø§ Ù‡Ù… Ù…Ø´Ø®Øµ Ú©Ù†ÛŒØ¯. Ù†ØªØ§ÛŒØ¬ Ø±Ø§ Ø¯Ø§Ø®Ù„ Ø³Ù‡ Ø¯ÛŒÚ©Ø´Ù†Ø±ÛŒ Ø°Ø®ÛŒØ±Ù‡ Ú©Ù†ÛŒØ¯.
      Ú©Ù„ÛŒØ¯ Ø¯ÛŒÚ©Ø´Ù†Ø±ÛŒâ€ŒÙ‡Ø§ Ø¨Ø§ÛŒØ¯ Ù…Ø·Ø§Ø¨Ù‚ Ø¨Ø§ Ù†Ø§Ù… Ø¯Ø±Ø³â€ŒÙ‡Ø§ Ú©Ù‡ Ø¯Ø± Ø¯Ø§Ø®Ù„ Ù„ÛŒØ³Øª <code>subjects</code> Ù‡Ø³ØªÙ†Ø¯ØŒ Ø¨Ø§Ø´Ø¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     Ù†Ú©ØªÙ‡ Ø¨Ø³ÛŒØ§Ø± Ù…Ù‡Ù…: Ù¾Ø³ Ø§Ø² Ù…Ø­Ø§Ø³Ø¨Ù‡ Ù…Ù‚Ø§Ø¯ÛŒØ±ØŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ ØªØ§ Ø¯Ùˆ Ø±Ù‚Ù… Ø§Ø¹Ø´Ø§Ø± Ú¯Ø±Ø¯ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [4]:
# TODO: calculate variance and standard deviation for each subject

variance_val = {subjects : round(df[subjects].var(ddof = 0),2) for subjects in subjects}
std_val = {subjects : round(df[subjects].std(ddof = 0),2) for subjects in subjects}
range_val = {subjects : round(df[subjects].max() - df[subjects].min(), 2) for subjects in subjects}

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     Ø±Ø§Ù‡Ù†Ù…Ø§ÛŒÛŒ: Ù…Ù‚Ø¯Ø§Ø± Ø¨Ø±Ø¯ Ù‡Ø± Ø¯Ø±Ø³ØŒ Ø§Ø² ØªÙØ§Ø¶Ù„ Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù†Ù…Ø±Ù‡ Ø¨Ø§ Ú©Ù…ØªØ±ÛŒÙ† Ù†Ù…Ø±Ù‡ Ø¢Ù† Ø­Ø§ØµÙ„ Ù…ÛŒâ€ŒØ´ÙˆØ¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc"> Ù…Ø±Ø­Ù„Ù‡ Ú†Ù‡Ø§Ø±Ù…: ØªØ­Ù„ÛŒÙ„ Ú†Ù†Ø¯Ú©â€ŒÙ‡Ø§ Ùˆ Ø¢Ø³ØªØ§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¹Ù…Ù„Ú©Ø±Ø¯
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     ğŸ“Œ Ú†Ø§Ù„Ø´: Ù…Ø¯ÛŒØ± Ù…Ø¯Ø±Ø³Ù‡ Ø´Ù‡Ø± Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ù…ÛŒâ€ŒØ®ÙˆØ§Ù‡Ø¯ Ø¨Ø¯Ø§Ù†Ø¯ Ú†Ù†Ø¯ Ø¯Ø±ØµØ¯ Ø§Ø² Ø¯Ø§Ù†Ø´â€ŒØ¢Ù…ÙˆØ²Ø§Ù† Ø¹Ù…Ù„Ú©Ø±Ø¯ Ø¶Ø¹ÛŒÙØŒ Ù…ØªÙˆØ³Ø· ÛŒØ§ Ø¹Ø§Ù„ÛŒ Ø¯Ø§Ø±Ù†Ø¯. Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø¨Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú†Ù†Ø¯Ú©â€ŒÙ‡Ø§ (quartiles)ØŒ Ù…Ø±Ø² Ø§ÛŒÙ† Ø¯Ø³ØªÙ‡â€ŒØ¨Ù†Ø¯ÛŒâ€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒØ¯.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     ğŸ” Ø¯Ø³ØªÙˆØ±Ø§Ù„Ø¹Ù…Ù„: Ø¨Ø±Ø§ÛŒ Ø§ÛŒÙ†Ú©Ø§Ø± Ø§Ø¨ØªØ¯Ø§ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ù†Ù…Ø±Ø§Øª Ù‡Ø± Ø´Ø®Øµ Ø±Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†ÛŒØ¯ Ùˆ Ø¯Ø± Ø³ØªÙˆÙ†ÛŒ Ø¨Ù‡ Ø§Ø³Ù…<code>total score</code> Ù‚Ø±Ø§Ø± Ø¯Ù‡ÛŒØ¯ØŒ Ø³Ù¾Ø³ Ú†Ù†Ø¯Ú© Ø§ÙˆÙ„ (Q1)ØŒ Ú†Ù†Ø¯Ú© Ø³ÙˆÙ… (Q3) Ùˆ <i>IQR</i> Ø±Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†ÛŒØ¯.
ØªØ­Ù„ÛŒÙ„ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ú†Ù†Ø¯ Ø¯Ø±ØµØ¯ Ø§Ø² Ø¯Ø§Ù†Ø´â€ŒØ¢Ù…ÙˆØ²Ø§Ù† Ø¹Ù…Ù„Ú©Ø±Ø¯ÛŒ Ú©Ù…ØªØ± Ø§Ø² <i>Q1</i>ØŒ Ø¨ÛŒÙ† <i>Q1</i> Ùˆ <i>Q3</i>ØŒ Ùˆ Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² <i>Q3</i> Ø¯Ø§Ø±Ù†Ø¯.
</font>
</p>

In [5]:
# TODO: calculate total score for each student
df["total score"] = df.drop(columns =  "student name").mean(axis = 1)
    
df.head()

  student name  reading score  math score  writing score  total score
0      Melanie             58          49             25    44.000000
1    Gabriella             45          72             88    68.333333
2       Ashley             46          27             22    31.666667
3        James             84           2             77    54.333333
4      William             69          35             26    43.333333

In [6]:
# TODO: calculate Q1, Q3, and IQR for total score 

Q1 = df['total score'].quantile(0.25)
Q3 = df['total score'].quantile(0.75)
IQR = Q3 - Q1
print(Q1)
print(Q3)
print(IQR)

39.0
58.25
19.25

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     Ù†Ú©ØªÙ‡: Ù¾Ø³ Ø§Ø² Ù…Ø­Ø§Ø³Ø¨Ù‡ Ø¯Ø±ØµØ¯Ù‡Ø§ØŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ ØªØ§ Ø¯Ùˆ Ø±Ù‚Ù… Ø§Ø¹Ø´Ø§Ø± Ú¯Ø±Ø¯ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [7]:
total_students = len(df)

less_than_Q1 = round((df["total score"] < Q1).sum() / total_students * 100, 2)
between_Q1_Q3 = round(((df["total score"] >= Q1) & (df["total score"] <= Q3)).sum() / total_students * 100, 2)
more_than_Q3 = round((df["total score"] > Q3).sum() / total_students * 100, 2)

print(less_than_Q1)
print(between_Q1_Q3)
print(more_than_Q3)

24.4
50.4
25.2

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>Ø³Ù„ÙˆÙ„ Ø¬ÙˆØ§Ø¨â€ŒØ³Ø§Ø²</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø±Ø§ÛŒ Ø³Ø§Ø®ØªÙ‡â€ŒØ´Ø¯Ù† ÙØ§ÛŒÙ„ <code>result.zip</code> Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± Ø±Ø§ Ø§Ø¬Ø±Ø§ Ú©Ù†ÛŒØ¯. ØªÙˆØ¬Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ú©Ù‡ Ù¾ÛŒØ´ Ø§Ø² Ø§Ø¬Ø±Ø§ÛŒ Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± ØªØºÛŒÛŒØ±Ø§Øª Ø§Ø¹Ù…Ø§Ù„â€ŒØ´Ø¯Ù‡ Ø¯Ø± Ù†Øªâ€ŒØ¨ÙˆÚ© Ø±Ø§ Ø°Ø®ÛŒØ±Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´ÛŒØ¯ (<code>ctrl+s</code>) ØªØ§ Ø¯Ø± ØµÙˆØ±Øª Ù†ÛŒØ§Ø² Ø¨Ù‡ Ù¾Ø´ØªÛŒØ¨Ø§Ù†ÛŒ Ø§Ù…Ú©Ø§Ù† Ø¨Ø±Ø±Ø³ÛŒ Ú©Ø¯ Ø´Ù…Ø§ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯.
</font>
</p>

In [8]:
import zipfile
import joblib
import json

def convert_numpy_types(data):
    if isinstance(data, dict):
        return {k: convert_numpy_types(v) for k, v in data.items()}
    elif isinstance(data, list):
        return [convert_numpy_types(v) for v in data]
    elif isinstance(data, np.generic):
        return data.item()
    else:
        return data

descriptive_stats = ['mean_val', 'median_val', 'mode_val', 'variance_val', 'std_val', 'range_val']
for stat in descriptive_stats:
    with open(stat + '.json', 'w') as f:
        json.dump(convert_numpy_types(eval(stat)), f, ensure_ascii=False, indent=4)

df['total score'].to_csv('total score.csv', index=False)

joblib.dump(Q1, "Q1")
joblib.dump(Q3, "Q3")
joblib.dump(IQR, "IQR")
joblib.dump(less_than_Q1, "less_than_Q1")
joblib.dump(between_Q1_Q3, "between_Q1_Q3")
joblib.dump(more_than_Q3, "more_than_Q3")

notebook_path = 'uncovering_the_secrets.ipynb'

def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ['mean_val.json', 'median_val.json', 'mode_val.json',
             'variance_val.json', 'std_val.json', 'range_val.json', 
             'less_than_Q1', 'between_Q1_Q3', 'more_than_Q3',
             'total score.csv', 'Q1', 'Q3', 'IQR', notebook_path]
compress(file_names)

File Paths:
['mean_val.json', 'median_val.json', 'mode_val.json', 'variance_val.json', 'std_val.json', 'range_val.json', 'less_than_Q1', 'between_Q1_Q3', 'more_than_Q3', 'total score.csv', 'Q1', 'Q3', 'IQR', 'uncovering_the_secrets.ipynb']